{% extends 'admin_t/base.html' %}

{% block page_title %}
    Add Class Group
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'add_classgr_save' %}">
                        {% csrf_token %}    

                        <div class="card-body">
                            <div class="form-group">
                                <label>Class Name </label>
                                <input type="text" class="form-control" name="classgr" placeholder="Enter Class Group">
                            </div>

                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-secondary">Add Class Group</button>
                        </div>
                    </form>
                    </div>
                    <!-- /.card -->
               
                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}