{% extends 'admin_t/base.html' %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-secondary" href="{% url 'add_subject' %}" role="button">Add Subject</a> <br/>&nbsp;

           

            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                       
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>ID</th>
                                <th>Subject Name</th>
                                <th>Class</th>
                                <th>Staff</th>
                            
                                </tr>
                            </thead>
                            <tbody>
                                {% for subject in subjects %}
                                <tr>
                                <td>{{ subject.id }}</td>
                                <td>{{ subject.subject_name }}</td>
                                <td>{{ subject.class_id.class_name }}</td>
                                <td>{{ subject.staff_id.first_name }} {{ subject.staff_id.last_name }}</td>
                        
                                <td>
                                    <a href="{% url 'edit_subject' subject.id %}" class="btn btn-success">Edit</a> 
                                    <a href="{% url 'delete_subject' subject.id %}" class="btn btn-danger">Delete</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        </div>

                </div>
            </div>

        </div>
      </section>

  {% endblock main_content %}