{% load static %}

<aside class="main-sidebar sidebar-light-secondary elevation-4">
     

      <div class="sidebar">
        <div class="p-3 mt-3 pb-3 mb-3 d-flex">
         
          <div class="info text-dark">
            {{ user.first_name }} {{ user.last_name }}
          </div>
        </div>

        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
             
                <li class="nav-item">
                  {% url 'student_home' as student_home %}
                  <a href="{{ student_home }}" class="nav-link {% if request.path == student_home %} active {% endif %}">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                      Home
                      {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                    </p>
                  </a>
                </li>

            <li class="nav-item">
              {% url 'student_view_attendance' as student_view_attendance %}
              <a href="{{ student_view_attendance }}" class="nav-link {% if request.path == student_view_attendance %} active {% endif %}">
                <i class="nav-icon fas fa-calendar-alt"></i>
                <p>
                  View Attendance
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

            <li class="nav-item">
              {% url 'student_view_grade' as student_view_grade %}
              <a href="{{ student_view_grade }}" class="nav-link {% if request.path == student_view_grade %} active {% endif %}">
                <i class="nav-icon fas fa-tasks"></i>
                <p>
                  View Grade
                  {% comment %} <span class="right badge badge-danger">New</span> {% endcomment %}
                </p>
              </a>
            </li>

      

          </ul>
        </nav>
      </div>
  
    </aside>